@import "./utils/fonts";
@import "./utils/variables";

@import "./base";

@import "./utils/utils";

@import "./components/buttons";
@import "./components/carousel-buttons";
@import "./components/chef-card";
@import "./components/format-card";
@import "./components/links";

@import "./layouts/advantages-section";
@import "./layouts/chefs-section";
@import "./layouts/contact-section";
@import "./layouts/footer";
@import "./layouts/forms";
@import "./layouts/formats-section";
@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/modal";
@import "./layouts/traditions-section";

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 57px;
}

/*Sections-titles*/
.section-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

/*Accent-texts*/
.accent-lite {
  color: var(--color-brand-normal);
}

.accent-dark {
  color: var(--color-brand-dark);
}
