.text-brend-normal {
  color: var(--color-brand-normal);
}

.text-brend-dark {
  color: var(--color-brand-dark);
}

.text-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}
