.form-field {
  margin-bottom: 32px;
}

.form-label {
  display: block;
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  color: var(--color-primary-dark);
}

.form-input:focus {
  border-color: var(--color-brand-normal);
  outline: none;
}

.form-input::placeholder {
  font-size: 16px;
  color: var(--color-secondary-dark);
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  margin-bottom: 24px;
}

.form-terms {
  font-size: 12px;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}
