.form {
  text-align: center;
  &--modal {
    padding: 0 10px;
  }

  &__field {
    &--contact {
      margin-bottom: 24px;
    }
    &--modal {
      margin-bottom: 32px;
    }
  }

  &__label {
    display: block;
  }

  &__input {
    padding: 16px 42px;
    width: 100%;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
    color: var(--color-primary-dark);

    &:focus {
      border-color: var(--color-brand-normal);
      outline: none;
    }

    &::placeholder {
      font-size: 16px;
      color: var(--color-secondary-dark);
    }

    &:focus::placeholder {
      color: var(--color-primary-dark);
    }
  }

  &__button {
    &--modal {
      margin-bottom: 24px;
    }
    &--contact {
      margin-bottom: 16px;
    }
  }

  &__terms {
    font-size: 12px;
    &--link {
      color: var(--color-primary-dark);
      text-underline-offset: 2px;
    }
  }
}
