.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;

  &__btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
  }

  &__block {
    padding: 128px 128px 187px;
    text-align: center;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 72px;
  }
}
